[MASTER]
disable=
  consider-using-f-string,
  missing-class-docstring,
  missing-function-docstring,
  too-many-arguments,
  too-many-branches,
  too-many-instance-attributes,
  too-many-lines,
  too-many-statements,

  # We previously ignored all these non-error lints.
  #
  # TODO(bbannier): audit this list and fix lints where possible.
  broad-exception-caught,
  consider-using-dict-items,
  cyclic-import,
  duplicate-code,
  expression-not-assigned,
  fixme,
  implicit-str-concat,
  invalid-name,
  line-too-long,
  missing-module-docstring,
  pointless-statement,
  protected-access,
  redefined-outer-name,
  too-few-public-methods,
  too-many-locals,
  too-many-public-methods,
  too-many-return-statements,
  unidiomatic-typecheck,
  unnecessary-lambda-assignment,
  unspecified-encoding,
  unused-argument,
  unused-import,
  unused-variable,
  unused-wildcard-import,
  useless-option-value,
  useless-return,
  wildcard-import,
  wrong-import-position,
